---
layout: default
---

<!-- -  -->

<section class="py-20">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto px-2">
    <div class="text-5xl mb-3"><h1>{{ page.headline }}</h1></div>
    <div class="max-w-2xl text-xl">{{ content }}</div>
  </div>
</section>
<section class="py-10">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <div class="flex flex-wrap items-baseline">
      <a
        class="flex block cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg p-2 m-2"
        href="https://twitter.com/S_SCHIACCI"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="https://pbs.twimg.com/profile_images/1264719053282840576/A90GsbPX_400x400.jpg"
          alt="Avatar of Jonathan Reinink"
        />
        <div class="">
          <div class="leading-none">Twitter</div>
          <div class="text-gray-600">
            <span>@S_SCHIACCI</span>
          </div>
        </div>
      </a>
      <a
        class="flex block cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg p-2 m-2"
        href="mailto:simon@loners.company"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-mail.svg"
          alt="Avatar of Jonathan Reinink"
        />
        <div class="">
          <div class="leading-none">E-mail</div>
          <div class="text-gray-600">
            <span>simon@loners.company</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <div class="flex flex-wrap items-baseline">
      <a
        class="flex block cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg p-2 m-2"
        href="https://github.com/lonersCompany"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-github.svg"
          alt="github icon"
        />
        <div class="">
          <div class="leading-none">GitHub</div>
          <div class="text-gray-600">
            <span>/lonerscompany</span>
          </div>
        </div>
      </a>

      <a
        class="flex block cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg p-2 m-2"
        href="https://www.behance.net/simon-barak"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-behance.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none">Behance</div>
          <div class="text-gray-600">
            <span>/simon-barak</span>
          </div>
        </div>
      </a>

      <a
        class="flex block cursor-pointer border-2 border-gray-700 hover:border-blue-500 items-center rounded-lg p-2 m-2"
        href="https://www.linkedin.com/in/simon-barak/"
      >
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/assets/ico/icon-linkedin.svg"
          alt="Behance Icon"
        />
        <div class="">
          <div class="leading-none">LinkedIn</div>
          <div class="text-gray-600">
            <span>/simon-barak</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- -  -->

<section class="py-10">
  <div
    id="entries"
    class="entries md:max-w-2xl lg:max-w-5xl mx-auto"
    data-view="cards"
  >
    <div class="entries-cards">
      {%- include entries-cards.html author="page.author" -%}
    </div>
  </div>
</section>
<!-- -  -->
<section class="py-10 lg:pb-40">
  <div class="md:max-w-2xl lg:max-w-5xl mx-auto">
    <p class="px-2 text-xl mb-3">
      Tool box
    </p>
    {%- include tool-box.html -%}
  </div>
</section>
