---
layout: default
---

<div class="">
  <section class="py-4">
    <div class="mx-auto pb-4">
      {%- include gallery-images.html -%}
    </div>
  </section>

  {% if page.website and page.website != "" %}
  <section class="py-4">
    <div class="max-w-xl mx-auto text-lg px-5 text-center">
      {%- include btn-lg.html content="Link to website" link=page.website -%}
    </div>
  </section>
  {% endif %}<!-- -  -->
  {% if page.content %}
  <section class="py-4">
    <div class="max-w-xl mx-auto text-lg px-5">
      {{ content }}
    </div>
  </section>
  {% endif %}
  <!-- -  -->
  {% if page.description != "" %}
  <section class="py-4 lg:pb-24">
    <div class="max-w-xl mx-auto text-lg px-5">{{ page.description }}</div>
  </section>
  {% endif %}
</div>
